{
    email rogerlew@uidaho.edu
}

forest.eecs.wsu.edu, forest.moscowfsl.wsu.edu {

  ## reverse proxy for the main site
  reverse_proxy fswepp:80

  ## Reverse Proxy for old server
  #  reverse_proxy http://forest-old.eecs.wsu.edu
}
