body {
   background-image: url('https://forest.moscowfsl.wsu.edu/fswepp/images/note.gif');
   background-repeat: repeat-y;
   /* Link colors */
   --link-color: green;
}

/* Styling links based on the variables defined above */
a:link {
    color: var(--link-color);
}
